<web-app>
    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>edu.school21.cinema.servlets.SignUp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>edu.school21.cinema.servlets.SignIn</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>myParam</param-name>
        <param-value>Hello</param-value>
    </context-param>

    <listener>
        <listener-class>edu.school21.cinema.listeners.CinemaServletContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>schemaDefinitionFile</param-name>
        <param-value>schema.sql</param-value>
    </context-param>
</web-app>